.compliacted-image-container {
    width: 90vw;
    display: flex; 
}

  .complicated-image {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  .complicated-ready-image {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    
  }
