html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  z-index: 1;
  scrollbar-width: none;
  min-height: 100%;
height: 100%;
padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  z-index: 2;
  scrollbar-width: none;
  min-height: 100%;
height: 100%;
padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.homepage-outer-box {

}

.tbc-guides {
  color: black; 
  font-size: 4rem;

  line-height: 4rem;
  margin-top: 0;
  padding-left: 4.5rem;
}

.styled-welcome {
  font-size: calc(2rem + 2.5vw); 
   position: absolute;
  top: calc(2rem + 40% + (-3vw));
  transform: translateY(-50%);
}

.swiper {
  width: 80vw;
  height: 35rem;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 830px) {
  .tbc-guides {
    padding-left: 1.5rem;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
}

@font-face {
  font-family: "Antonio";
  src: url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
}

@supports(padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}