.introductionHeader {
  font-family: belda-normal, sans-serif;
  color: white
}

.introductionDescriptionText {
    font-family: belda-normal, sans-serif;
  color: white; 
  font-style: italic;
}

.michaelImageBoxOne {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: calc(50rem - (30rem - 20vw));
    overflow: hidden;
}

.michaelImageBoxTwo {
    width: 80vw; 
  height: calc(50rem - (30rem - 20vw)); 
  position: relative; 
}

.testimonialTitleText {
    width: 100vw; 
    text-align: center;
    font-family: belda-normal, sans-serif;
}

.testimonialDescriptionText {
    display:flex; 
    align-items: center;
    font-family: belda-normal, sans-serif;
    text-align: center;
}

.activityTitleText {
    font-family: belda-normal, sans-serif;
  color: black; 
}

.activityDescriptionText {
    font-family: belda-normal, sans-serif;
    color: black;
    display: inline;
    flex-wrap: wrap;
    width: calc(60vw + 4rem);
}

.contactItem {
  font-family: belda-normal, sans-serif;
  color: white; 
}

.contactItemUnderlined {
  font-family: belda-normal, sans-serif;
  color: white;
  text-decoration: underline;
}

.contactIconButton {
  color: white; 
  padding: 0px; 
  margin: 0px
}

.contactButton {
  font-family: belda-normal, sans-serif;
  background-color: black;
}

.contactButton:hover {
  background-color: black;
}

@font-face {
  font-family: belda-normal, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-style: normal;
  src: url("https://use.typekit.net/nff0pei.css");
}