.introduction-header {
  font-family: belda-normal, sans-serif;
  color: white
}

.introduction-description-text {
    font-family: belda-normal, sans-serif;
  color: white; 
  font-style: italic;
}

.michael-image-box-one {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: calc(50rem - (30rem - 20vw));
    overflow: hidden;
}

.michael-image-box-two {
    width: 80vw; 
  height: calc(50rem - (30rem - 20vw)); 
  position: relative; 
}

.testimonial-title-text {
    width: 100vw; 
    text-align: center;
    font-family: belda-normal, sans-serif;
}

.testimonial-description-text {
    display:flex; 
    align-items: center;
    font-family: belda-normal, sans-serif;
    text-align: center;
}

.activity-title-text {
    font-family: belda-normal, sans-serif;
  color: black; 
}

.activity-description-text {
    font-family: belda-normal, sans-serif;
    color: black;
    display: inline;
    flex-wrap: wrap;
    width: calc(60vw + 4rem);
}

.contact-item {
  font-family: belda-normal, sans-serif;
  color: white; 
}

.contact-item-underlined {
  font-family: belda-normal, sans-serif;
  color: white;
  text-decoration: underline;
}

.contact-icon-button {
  color: white; 
  padding: 0px; 
  margin: 0px
}

.contact-button {
  font-family: belda-normal, sans-serif;
  background-color: black;
}

.contact-button:hover {
  background-color: black;
}

@font-face {
  font-family: belda-normal, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-style: normal;
  src: url("https://use.typekit.net/nff0pei.css");
}