.reservation-outside-box {
    width: 100vw; 
    display: flex; 
    justify-content: center;
    text-align: center;
    
}

.reservation-stack {
    align-items: center;
    background-color: #f0f0f0;
     display: flex;
     justify-content: center;
     width: 90vw;
}

.reservation-text-field {
    width: 15rem; 
    background-color: white;
    
    
}