.reservation-outside-box {
    width: 100vw; 
    display: flex; 
    justify-content: center;
    text-align: center;
    
}

.reservation-stack {
    align-items: center;
    background-color: #f0f0f0;
     display: flex;
     justify-content: center;
     width: 90vw;
}

.reservation-title {
    text-align: center;
}


.reservtion-grid-item {
    background-color: white;
    
}

.reservation-text-field {
    width: 15rem; 
    background-color: white;
    
}

.reservation-form-button {
    background-color: black;
    color: white; 
    width: 7rem
    
}

.reservation-form-button:hover {
    background-color: #596d90;
    color: white; 
    width: 7rem
    
}